<!DOCTYPE html>
<html lang="en">
    <head>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key="+'ADDKEYHERE'+"&callback"
    type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript">
        var map;
        var marker;
        function initialize(){
            var mapOptions = {
                center: new google.maps.LatLng(-
                33.30578381949298, 26.523442268371582),
                zoom: 15
            };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        google.maps.event.addListener(map,'click',
            function(event){
                placeMarker(event.latLng);
            });
        }
        function placeMarker(location) {
            if(marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            document.getElementById('latitude').value = location.lat();
            document.getElementById('longitude').value = location.lng();
        }
    </script>
    
    </head>
        <body onload="initialize()">
        <center><h1>CrimeMap</h2>
        <p>A map of recent criminal activity in the Gahamstown area.</p></center>
        <div id ="map-canvas"></div>

        <div id="newcrimeform">
        <h2>Submit new crime</h2>
        <form action="/submitcrime" method="POST">
        <label for="category">Category</lable>
        <select name="category" id="category">
            <option value="mugging">Muggining</option>
            <option value="breakin">Break-in</option>
        </select>
        <label for="date">Date</label>
        <input name="date" id="date" type="date">
        <lable for="latitude">Latitude</label>
        <input name"latitude" id="latitude" type="text">
        <input name="longitude">Longitude</label>
        <input name"longitude" id="longitude" type"text">
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="A brief but detailed descriptiom of the crime"></textarea>
        <input type="submit" value="Submit">
        </form>
        </div>
        </body>
</html>